.section--productos{
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.section__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.section__head--title{
    font: var(--font-subTitle1);
}
.section__head--btn{
    width: 14.769%;
}
.section__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;

}
.card{
    display: block;
    max-height: 252px;
    min-width: 176px;
    max-width: 176px;
    margin: 0 0.5rem 0 0;
}
.card__text{
    margin-top: 0.3rem;
    font: var(--font-text2);
    color: var(--text-color);
}
.card__text--price{
    font: var(--font-text--bold);
}
.card__link{
    font: var(--font-text2--bold);
    color: var(--btns-links-color);
    text-decoration: none;
}
.card__img{
 width:176px;
 height: 174px;
}